<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Goals | Compete to complete</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body
    class="font-sans container m-auto leading-loose tracking-widest font-light sm:font-thin overflow-x-hidden bg-gray-100"
  >
    <!-- Navbar -->
    <header>
      <nav
        class="py-3 mb-3 md:mb-0 md:py-6 md:flex justify-between font-thin text-lg items-center"
      >
        <h1 class="w-2/3 md:w-1/6 px-4 md:px-0 text-2xl font-semibold">
          COMPLETE TOGETHER
        </h1>
        <div class="h-px bg-teal-500 w-full"></div>
        <div class="flex items-center">
          <p class="font-bold px-3">Set goals and smash them</p>
        </div>
      </nav>
    </header>
    <!-- Hero -->
    <section id="hero">
      <div class="full-width mb-10" style="height: 50vh;">
        <img
          src="/images/hero.jpg"
          alt="A beautiful dog"
          class="h-full w-full object-cover object-center"
        />
      </div>
    </section>

    <!-- Form -->
    <section id="form" class="mb-32">
      <div class="h-full flex justify-between flex-wrap">
        <div>
          <h1 class="font-bold border-b border-teal-500 md:py-6 px-4 md:px-0">
            Add To Goals - Total # of Goals <%= goals.length %>
          </h1>
          <form action="/post" method="POST">
            <input
              type="text"
              name="goal"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-6 mb-3 mt-3 leading-tight focus:outline-none focus:bg-white"
              placeholder="Enter goal here"
            />
          </form>
          <table class="table-auto">
            <thead>
              <tr>
                <th class="px-4 py-2">Goals</th>
                <th class="px-4 py-2">Change It?</th>
                <th class="px-4 py-2">Completed?</th>
              </tr>
            </thead>
            <tbody>
              <% goals.forEach((post) => { %>
              <tr>
                <td data-id="<%= post._id %>" class="item border px-4 py-2">
                  <%= post.goal %>
                </td>
                <td class="border px-4 py-2">
                  <button class="edit-button">Edit</button>
                </td>
                <td class="border px-4 py-2">
                  <button class="complete-button">Submit</button>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <div class="flex flex-col">
          <h1 class="font-bold border-b border-teal-500 md:py-6 px-4 md:px-0">
            Total # of Completed Goals: <%= completedGoals.length %>
          </h1>
          <div class="flex items-end h-full">
            <table class="table-auto">
              <thead>
                <tr>
                  <th class="px-4 py-2">Goals</th>
                  <th class="px-4 py-2">Delete?</th>
                </tr>
              </thead>
              <tbody>
                <% completedGoals.forEach((post) => { %>
                <tr>
                  <td data-id="<%= post._id %>" class="item border px-4 py-2">
                    <%= post.goal %>
                  </td>
                  <td class="border px-4 py-2">
                    <button class="delete-button">Delete</button>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <footer class="full-width">
      <div class="p-24 bg-gray-700 flex justify-center">
        <p class="text-white">&#169; 2020 Chai Lee</p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/client.js"></script>
  </body>
</html>
